/* HOME PAGE */

.home-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

/* LIKED RECIPES */

.liked-recipes-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.liked-recipes-header {
  background: rgb(234, 146, 38, 0.3);
  padding: 10px 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.liked-recipes-header span {
  font-size: 16px;
}

/* MY PROFILE */

.my-profile-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.my-prfoile-section {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background: rgb(237, 139, 19, 0.2);
}

.my-profile-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.my-profile-text h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.my-profile-text h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.my-recipe-section h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.my-recipe-header {
  background: rgb(237, 139, 19, 0.7);
  color: white;
  padding: 5px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* FULL RECIPE */

.full-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin-top: 20px;
}

.full-recipe-container h1 {
  color: rgb(237, 139, 19);
  font-size: 30px;
  font-weight: bold;
}

.full-recipe-container h3 {
  margin: 10px;
  font-size: 21px;
}

.ingredients-list {
  text-align: start;
  padding-left: 45px;
}

.ingredients-list p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: rgb(237, 139, 19, 0.8);
}

ul li::marker {
  font-size: 14px;
}

ul li {
  margin-left: 10px;
  list-style-type: "✔️";
  padding-left: 10px;
  font-size: 18px;
}

.instructions-list {
  text-align: start;
  padding-left: 45px;
}

.instructions-list p {
  color: rgb(237, 139, 19, 0.8);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

ol li {
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.full-recipe-container ion-button {
  font-size: 16px;
  height: 45px;
}

.delete-button {
  width: 40%;
}

.like-button {
  width: 40%;
}
