.upload-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-input {
  display: none;
}

.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 110px;
  height: 110px;
}
.personal-avatar {
  cursor: pointer;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid gainsboro;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}

.green-border {
  border: 2px solid #58942b !important;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.personal-figcaption > img {
  margin-top: 30px;
  width: 50px;
  height: 50px;
}
