.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  text-align: center;
  font-size: 24px;
}

ion-spinner {
  width: 60px;
  height: 60px;
}
