.navbar-container {
  height: 70px;
}

.navbar-toolbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-container ion-toolbar {
  --background: rgb(234, 146, 38, 0.9);
  --color: whitesmoke;
  border: none;
}

.navbar-title {
  font-size: 26px;
  margin-left: 10px;
  font-weight: 600;
}

.navbar-container span {
  font-size: 18px !important;
  font-weight: bold;
}

.navbar-profile {
  background: white;
  color: rgb(237, 139, 19, 1.3);
  padding: 8px 0;
  padding-left: 15px;
  border-radius: 40px;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100vh;
  background: rgb(237, 139, 19, 0.2);
}

.sidebar-avatar {
  margin-top: 10%;
}

.side-menu-container h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.side-menu-container h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.sidebar-list {
  width: 100%;
  margin-top: 50px;
}

.sidebar-list ion-item {
  --background: rgb(237, 139, 19, 0.2);
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  font-size: 18px !important;
  font-weight: 500;
  text-align: center;
  font-family: "Rufina", serif;
  cursor: pointer;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h:hover {
  font-weight: bold;
}
